@import './colors.css';
@import './typography.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: var(--color-dark-700);
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
